table{
    border-style: solid;
    border-width: 3px;
    border-color: blueviolet;
    border-collapse: collapse;
}
td, th{
    border-style: double;
    border-width: 3px;
    border-color: blueviolet;
}
th{
    border-color: aquamarine;
}